* {
  box-sizing: border-box;
}
:root {
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ================ common ==================== */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
.heading-2 {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}
.heading-3 {
  color: #171100;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  --line-clamp: 2;
}
.line-clamp.line-4 {
  --line-clamp: 4;
}
.break-all {
  word-break: break-all;
}
/* ======================= header ================================ */
.header {
  background: #fffcf4;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  display: block;
  content: "";
  left: 21px;
  bottom: 6px;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.btn {
  color: #fff;
  display: inline-block;
  padding: 0 16px;
  line-height: 50px;
  min-width: 118px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}
.btn:hover {
  opacity: 0.7;
  background: #ffb900;
  cursor: pointer;
  border: 0 solid var(--primary-color);
}
.header .btn-sign-up {
  min-width: 144px;
  margin-left: 49px;
}
/* ==========================hero======================== */

.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}
.hero .body {
  display: flex;
}
/* ============left================= */
.hero .media-block {
  width: 48%;
  position: relative;
}
.hero .image {
  width: 470px;
  height: 685px;
}
.hero .hero-summary {
  position: absolute;
  padding: 24px 24px;
  right: 0;
  bottom: 48px;
  width: 270px;
  height: 244px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.hero-summary .item {
  display: flex;
  align-items: center;
  /* margin-top: 24px; */
}
.hero-summary .item + .item {
  margin-top: 14px;
  /* margin-top: 24px; */
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.hero-summary .icon-windows {
  background: #fcefff;
}
.hero-summary .icon-page {
  background: #fff9e8;
}
.hero-summary .icon-megaphone {
  background: #ebeaff;
}
.hero .info {
  margin-left: 16px;
}
.hero .title {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}
.hero .content {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
/* ================= right ====================== */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.content-block .content_1 {
  display: flex;
  /* margin-left: 130px; */
}

h1.heading {
  color: #171100;
  font-family: Sen;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}
.hero .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
  margin-top: 22px;
}
.hero .btn-video {
  display: flex;
  align-items: center;
  margin-top: 38px;
}
.hero .btn-see-course {
  min-width: 180px;
  background: var(--primary-color);
  line-height: 64px;
  /* border-radius: 32px; */
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}
.hero .watch-video {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  margin-left: 28px;
  cursor: pointer;
}
.hero .watch-video .icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
}
.hero .watch-video p {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.hero .desc_1 {
  margin-top: 48px;
}
.hero .content_1 {
  margin-top: 8px;
}
.hero .content_1 strong {
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
  margin-right: 15px;
}
.hero .content_1 p:nth-child(2) {
  margin-left: 24px;
}
/* ====================== popular ==================== */
.popular-courses {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular p {
  width: 458px;
  color: #5f5b53;
  margin-top: 16px;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.popular .icon-courses {
  /* margin-left: auto; */
  display: flex;
  gap: 18px;
}
.popular .icon {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}
/* .popular .back-icon {
  background: none;
}
.popular .foward-icon {
  background: var(--primary-color);
  margin-left: 18px;
  color: white;
} */
.popular .icon:hover {
  cursor: pointer;
  opacity: 0.7;
  background: var(--primary-color);
  color: white;
}
/* ========== course list ================ */
.course-list {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}
.course-list .block {
  width: 370px;
  height: 466px;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}
.course .block:hover {
  border-radius: 12px;
  border: 1px solid transparent;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.course-list .image-course {
  width: 370px;
  height: 278px;
  border-radius: 12px 12px 0px 0px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.course-list .title {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.course .title strong {
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
  margin-left: 6px;
}
.course-list .star {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.course .star-icon {
  width: 18px;
  height: 18px;
}

.course .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.85; /* 185.714% */
  min-width: 326px;
}
.course .book-now {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course .content-block {
  margin: 0 22px 22px;
}
.course .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.course .btn-book-now {
  font-size: 1.4rem;
}
.course .btn-book-now:hover {
  cursor: pointer;
  background: var(--primary-color);
  color: white;
}
/* ============================ blog ================================ */
.blog-main {
  margin-top: 200px;
  height: 380px;
  border: 1px solid #000;
  background: #2e2100;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.blog {
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
}

.blog .profile {
  max-width: 34%;
  display: flex;
  flex-direction: column;
}
.blog .profile .avata {
  display: block;
  width: 72px;
  height: 72px;
  border-radius: 72px;
  object-fit: cover;
}
.blog .profile .name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}
.blog .profile .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
  margin-top: 4px;
}
.blog .profile .more {
  margin-top: 28px;
}
.blog .info {
  width: 770px;
  position: relative;
}
.blog .info .desc {
  position: absolute;
  left: 28px;
  top: 30px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
  text-align: justify;
}
/* ======================= edu ==================================== */
.edu-main {
  margin-top: 200px;
}
.edu .edu-2,
.edu .edu-1 {
  display: flex;
  gap: 130px;
  align-items: center;
}
.edu-1 .img {
  display: flex;
  max-width: 48%;
  height: 438px;
  gap: 30px;
}
.edu-1 .thumb {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}
.edu-1 .learn-1 {
  align-self: flex-end;
}
.edu-1 .content {
  min-width: 470px;
}
.edu .desc {
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
  margin-top: 16px;
}
.edu .btn-edu {
  margin-top: 30px;
  min-width: 137px;
  border: none;
}
/* =========================== edu-2 ======================== */
.edu .edu-2 {
  margin-top: 200px;
}
.edu-2 .content {
  max-width: 570px;
}
.edu-2 .thumb {
  width: 470px;
  height: 440px;
  border-radius: 20px;
  object-fit: cover;
}

/* ======================== our blog ========================== */
.our-blog-main {
  margin-top: 200px;
  background: #fffcf4;
  height: 878px;
}
.our-blog .head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-blog .head .heading-2 {
  margin-top: 96px;
}
.our-blog .head .desc {
  margin-top: 16px;
  color: #696262;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
  max-width: 448px;
}
.our-blog .bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}
.our-blog .bottom .item:hover {
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.our-blog .bottom .content {
  margin: 20px 20px;
}
.our-blog .bottom .item {
  width: 370px;
  height: 467px;
  border-radius: 16px;
  background: #fff;
}
.our-blog .bottom .img {
  width: 370px;
  height: 250px;
  border-radius: 16px 16px 0px 0px;
}
.our-blog .bottom .line {
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
  margin-top: 12px;
}
.our-blog .content .info {
  margin-top: 12px;
}
.our-blog .content .btn-read-more {
  margin-top: 12px;
  border: none;
}
/* ======================================== bottom - main ======================================= */
footer {
  background: #2e2100;
  height: 428px;
}
footer .main-content {
  display: flex;
}
.footer {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
}
.footer .info {
  display: flex;
  position: relative;
}
.footer .info .heading-3 {
  position: relative;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}
.footer .item .heading-3::after {
  position: absolute;
  left: 0px;
  top: 42px;
  width: 130px;
  height: 1px;
  background: #59554b;
  content: "";
}
.footer .info .social {
  width: 267px;
  display: flex;
  flex-direction: column;
}
.footer .social .logo {
  color: #fff;
}
.footer .social .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
  margin-top: 18px;
}
.footer .social .icon {
  display: flex;
  margin-top: 18px;
  width: 111px;
  height: 15px;
  justify-content: space-between;
  color: white;
}
.footer .info .item {
  width: 260px;
}
.footer .info .company {
  margin-left: 145px;
}
.footer .info ul {
  display: flex;
  flex-direction: column;
  margin-top: 43px;
  gap: 12px;
}
.footer .info ul a {
  text-decoration: none;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
.footer .info::after {
  position: absolute;
  top: 250px;
  content: "";
  width: 1170px;
  height: 1px;
  background: #59554b;
}
.footer .copyright {
  text-align: center;
  padding: 67px 0 0;
  color: #807d74;
  font-size: 1.4rem;
  line-height: 1.86;
}
.footer .address strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86; /* 185.714% */
}
